[submodule "dlib"]
	path = dlib
	url = https://github.com/reunanen/dlib
[submodule "tiling"]
	path = tiling
	url = https://github.com/reunanen/tiling
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/reunanen/cxxopts
